/antlr/
/aopalliance/
/avalon-framework/
/backport-util-concurrent/
/cglib/
/classworlds/
/commons-beanutils/
/commons-chain/
/commons-cli/
/commons-codec/
/commons-collections/
/commons-digester/
/commons-io/
/commons-lang/
/commons-logging/
/commons-validator/
/dom4j/
/javax/
/junit/
/log4j/
/logkit/
/mysql/
/net/
/org/
/oro/
/sslext/
/xerces/
/xml-apis/
/xpp3/
/c3p0/
